h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.symbs {
  float: left;
}

.description {
  margin-top: 70px;
}

.description2 {
  margin-top: 70px;
}

.description2 button {
  float: center;
  width: 400px;
  margin-bottom: 20px;
}

.bttn button {
  width: 100px;
}

.description li {
  padding: 10px;
}

/* The sidebar menu */
.sidenav {
  overflow: hidden;
  height: 100vh;
  width: 190px;
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;

  background-image: linear-gradient(to bottom, #ff6377, #7a3942, #ff6377);
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
  color: #818181;
}

/* The navigation menu links */
.sidenav a {
  padding: 5px 8px 6px 0px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

form.form-inline [type="search"] {
  width: 950px;
}

.right {
  float: right;
  padding-right: 8px;
  border-radius: 50%;
  margin: 1px;
}

.dash img {
  width: 100%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 170px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}
.sidebar-link:hover {
  background-color: #444;
  border-radius: 5px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
